@import "~@/main.less";


.main-header-content{
  width: 80%;
  z-index: 999;
  text-align: center;

  .article-title{

    letter-spacing: -1px;
    font-weight: 700;
    color: #fff;
    -webkit-animation: fade-in-down 1s;
    animation: fade-in-down 1s both;
    -webkit-animation-delay: .6s;
    animation-delay: .5s;
    text-shadow: 0 3px 6px rgb(0 0 0 / 30%);
  }
  .article-info{
    //margin-top: -18px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255,255,255,.8);
    font-family: Noto Sans SC,serif;
    text-shadow: 0 3px 6px rgb(0 0 0 / 50%);
    i{
      color: rgba(255,255,255,.8);
    }
  }
  .article-tag{
    background-color: #6fa3ef;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative;
    background-image: none;
    box-shadow: none;
    margin: 0 0 0 10px;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    width: fit-content;
    width: -webkit-fit-content;
  }

}

main{
  position: relative;
  width: 100%;
  background: rgb(238, 238, 238);
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 60vh;
  .container{

    position: relative;
    background-color: rgba(255,255,255,.9);
    width: 100%;
    max-width: @max-width;
    padding: 0 20px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .mainContent{
      width: 100%;

    }
    .bottom-comment{
      display: flex;
      flex-direction: column;
      width: 100%;
      font-family: "Open Sans", "Microsoft Jhenghei", "Microsoft Yahei", sans-serif;
      .comment-send{
        display: flex;
        flex-direction: row;

        .user-face{
          width: 50px;
          height: 50px;
          .user-head{

            width: 100%;
            height: 100%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
        }
        .textarea-container{
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          textarea{
            width: 100%;
            resize: none;
            margin-left: 20px;
            font-size: 12px;
            display: inline-block;
            box-sizing: border-box;
            background-color: #f4f5f7;
            border: 1px solid #e5e9ef;
            overflow: auto;
            border-radius: 4px;
            color: #555;


            transition: 0s;
            padding: 5px 10px;
            line-height: normal;
            outline: none;
            &:hover{
              border: 1px solid #0961cb;
              background: #fff;
            }
            &:fouce{
              border: 1px solid #0961cb;
              background: #fff;
            }
          }
          .comment-submit{
            width: 70px;
            height: 100px;

            margin-left: 20px;
            position: relative;
            .comment-submit-tip{
              width: 100%;
              height: 30px;
              background: #212020;
              color: #fff;
              text-align: center;
              line-height: 30px;
              position: absolute;
              border-radius: 5px;
              top: -40px;

            }
            button{
              width: 70px;
              height: 100px;
              padding: 4px 15px;
              font-size: 14px;
              color: #fff;
              border-radius: 4px;
              text-align: center;
              min-width: 60px;
              vertical-align: top;
              cursor: pointer;
              background-color: #00a1d6;
              border: 1px solid #00a1d6;
              transition: 0.1s;
              user-select: none;
              outline: none;
            }
          }

        }


      }

      .emoji{
        width: 20px;
        color: #99a2aa;
        margin-left: 70px;
        margin-top: 10px;
        border: 1px solid #e5e9ef;
        box-shadow: 0px 1px 10px 0 rgb(106,115,133);
      }
    }

  }
  #sideCatalog-catalog-wrap{
    position: absolute;
    top: 3px;
    width: 240px;
    .switch{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      background: #fff;
      color: gray;
      z-index: 111;
      cursor: pointer;
    }
    #sideCatalog-catalog{
      display: block;
      transition: all 0.5s ease-in-out;
      position: absolute;

      width: 240px;
      max-height: 90vh;
      min-height: 418px;

    }
  }

}
@media screen and (min-width: 1460px) {
  .switch{
display: none;
  }
  #sideCatalog-catalog{
    display: none;
  }
}
