<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Tag">
        <id column="id" property="id" />
        <result column="parentId" property="parentId" />
        <result column="label" property="label" />
    </resultMap>
    <select id="listByUid" resultType="com.example.demo.entity.Tag">
        SELECT
            t.id,
            t.parentId,
            t.label
        FROM
            tag AS t
        WHERE
                t.id IN (
                SELECT
                    ac.tid
                FROM
                    article_tag AS ac
                WHERE
                    ac.aid IN ( SELECT a.id FROM article AS a WHERE a.uid = #{uid} ))
    </select>

</mapper>
