@navbar-text-color:#fff;
@link-hover-color: #30a9de;
@navbar-bg-color: #2f4154;
@font-face {
  font-family: 'Noto Sans SC';
  src: url("~@/assets/woff2/NotoSansSC-6.ttf");
}
@font-face {
  font-family: 'Microsoft Jhenghei';
  src: url("~@/assets/woff2/Jhenghei.ttf");
}
body a{
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
